.home-content {
  position: relative; 

  .background-image {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover; 
    filter: brightness(0.6); 
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    color: white;  

  

    ion-button {
      width: 80%; 
      --background: #2011ad;
      --color: white; 

      &:hover {
        --background: #0f00b3; 
      }
    }
  }
}
